html {
    height: 100%;
}

body {
    display: flex;
    min-height: 100%;
    margin: 0;
    flex-wrap: wrap;
}

#top {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Alinhe verticalmente */
    flex-basis: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
    background-color: #353535;
    padding: 1% 2%;
    height: 160px;
    align-items: center;
}

#logo {
    display: flex;
    text-decoration: none;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 50px;
    color: white;
}

#navContent {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 100%;
    margin-left: auto;
    margin-right: 40px;
    width: 320px; 
}

.navButtons {
    color: white;
    margin-right: 10px;
    text-decoration: none;
    font-size: 35px;
    align-items: center;
    justify-content: center;
    background-color: #E22B41;
    border-radius: 10px;
    width: 130px;
}

#center {
    flex-basis:100%;
    height: 900px;
    background-color: rgb(0, 0, 0);
    opacity: 1;
    background-image: url("https://images3.alphacoders.com/102/1025036.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.container {
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.4);
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
}

#title {
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 40px;
    margin: 0;
}

#siteContent {
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 25px;
    margin-top: 45px;
    margin-left: 20px; /* Add a left margin to create some space */
    margin-right: 20px; /* Add a right margin to create some space */
    max-width: 100%;
    max-height: 300px; /* Limit the text height to the container's height */
    overflow: auto; /* Add scrollbars if the content overflows */
}

footer{
    Color: white;
    flex-basis: 100%;
    background-color: #353535;
    align-self: end;
    margin-bottom: 0;
    font-size: 25px;
    text-decoration: none;
    text-align: center;
}

.aContainer {
    text-decoration: none;
    font-size: 25px;
    color: white;
}